In [95]:
# load pickle files
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [116]:
label_encoder_gender.classes_

array(['Female', 'Male'], dtype=object)

In [96]:
## load ann trained model ,scaler pickle file , one hot file
model = load_model("model.h5")

## encoder and scaler
with open("one_hot_encoder_geo.pkl","rb") as file:
    geo_encoder = pickle.load(file)


with open("label_encoder.pkl" ,"rb") as file:
    label_encoder_gender = pickle.load(file)

with open("sscaler.pkl" ,"rb") as file:
    scaler_enc = pickle.load(file)

In [97]:
input_data = {
    "CreditScore": 600,
    "Geography": 'France',
    "Gender":"Male",
    "Age": 40,
    "Tenure": 3,
    "Balance": 60000,
    "NumOfProducts": 2,
    "HasCrCard":1,
    "IsActiveMember": 1,
    "EstimatedSalary" : 50000

}

In [98]:
[[input_data['Geography']]]

[['France']]

In [99]:
## one hot encode geography
geo_encoded = geo_encoder.transform([[input_data['Geography']]]).toarray()

c:\Users\Pratyush.Thakur\Downloads\skipable\proj_ann\annenv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [100]:
geo_encoded_df = pd.DataFrame(geo_encoded,columns=geo_encoder.get_feature_names_out(['Geography']))

In [101]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [102]:
input_df = pd.DataFrame([input_data])

In [103]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [104]:
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'] )
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [105]:
## concat
input_df = pd.concat([input_df.drop("Geography", axis =1 ), geo_encoded_df],axis =1 )

In [106]:
input_df.shape

(1, 12)

In [107]:
input_scaled = scaler_enc.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [109]:
prediction = model.predict(input_scaled)

1/1 [==============================] - 0s 109ms/step

In [110]:
prediction

array([[0.0597119]], dtype=float32)

In [112]:
prediction_proba = prediction[0][0]
prediction_proba

0.059711896

In [114]:
if prediction_proba > 0.5:
    print("likely to churn ")
else:
    print("not likely to churn")

not likely to churn